#header{
    display: flex;
    background-position:center;
    margin:auto;
    width:200px; 
    height: 60px;
    padding:0%;
}
#box{
    height:540px;
    margin:auto;
    padding: 0
}
#lead{
    font-size: 30px;
}

#button{
    color:black;
    background-color: rgba(193, 0, 148, 0.249);
    border:1px black solid;
    width:310px;
}

#button2{
    background-color: rgba(159, 159, 159, 0.153);
    color:black;
    border:1px black solid;
    width:310px;
}
#lastp{
    padding-top:10px;
}

#fp{
    padding-left:101px;
}

#okay{
    color:rgb(121, 121, 121);
    text-align: center;
}